{{define "title"}}Работа #{{.Work.ID}}{{end}}
{{define "main"}}
    {{with .Work}}
    <div class='snippet'>
        <div class='metadata'>
            <strong>{{.GLGroupTitle}} #{{.ID}}</strong>
            <span><a href='http://gitlab.iifrf.local/{{.GLGroupPath}}'>(GitLab #{{.GLGroupID}} )</a></span>
        </div>
        <pre><code>{{.GLGroupDescription}}</code></pre>
        <div class='metadata'>
            <time>{{.GLGroupCreatedAt | humanDate | printf "Created: %s"}}</time>
        </div>
    </div>
    {{end}}
{{end}}